.card{
    box-sizing: border-box;
    width:300px;
    border-radius: 10px;
    border:none;
    box-shadow: 2px 2px 20px black;
    padding:15px 10px;
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: space-between;
    background-color: rgb(162, 186, 190);
}
.card>span{
    color:red;
}
.card__picture > img{
    width:100%;
    height:100%
}
.card__heartBtn{
    background-color: transparent;
    border: none;
    cursor:pointer;
}
.card__btnContainer{
    display:flex;
    justify-content: space-between;
    margin:10px 0;
}
.card__linkBtn{
    align-self: self-end;
    border: none;
    background-color: transparent;
}
.card__linkBtn>a{
    color: grey;
    text-decoration: none;
}
.card__removeBtn{
    background-color: rgb(228, 217, 189);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(167, 117, 35, 0.15);
    cursor:pointer;
}
.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FF3D00;
    position: relative;
    margin: 40px auto;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: #fff;
    transform: rotate(0deg) translate(30px);
    animation: rotate 1s ease infinite;
  }
  .loader:after {
    animation-delay: 0.5s
  }
  @keyframes rotate {
    100% {transform: rotate(360deg) translate(30px)
  }
  }     
