body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to Right, #0e3344, #00bba8);
  background:-webkit-linear-gradient(to Right, #0e3344, #00bba8);
  background:-o-linear-gradient(to Right, #0e3344, #00bba8);
  background:-ms-linear-gradient(to Right, #0e3344, #00bba8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
